extends layout
block content
  div(class='container mt-4')
    div(class='jumbotron')
      h1(class='display-4') Successfully uploaded!
      p(class='lead') Link to the image: 
        a(href=imgSrcFQDN, target='_blank') #{imgSrcFQDN}
      hr(class='my-4')
      img(class='single-image', src=imgSrc, alt=imgAlt)