nav {
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

.avatar-ctn {
    background-color: white;
    text-align: center;
}

.avatar {
    width: 60%;
    padding: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.image-container > img:hover {
    width: 80%;
    height: 80%;
}

.single-image {
    width: 51%;
    height: 51%;
    border: 1px solid black;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-cell {
    width: 50%;
    height: 50%;
    margin-bottom: 2%;
    border: 1px solid black;
}

.btn.btn-primary.btn-delete {
    border-color: #CD80E3;
    background-color: #CD80E3;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 8%;
}