/* global */
* {
    box-sizing: border-box;
}

/* header */
nav {
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav h4 {
    margin-top: 5px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

/* upload success page */
.link-to-image {
    overflow-wrap: break-word;
}

.uploaded-image {
    width: 51%;
    height: 51%;
    border: 1px solid black;
    transition: width 0.5s, height 0.5s;
}

.uploaded-image:hover {
    width: 80%;
    height: 80%;
}


/* login & register page */
.form-error-message {
    padding-top: 1%;
    margin-bottom: -0.5%;
}

.g-recaptcha {
    margin-bottom: 1rem;
}

/* profile page */
.avatar-ctn {
    background-color: white;
    text-align: center;
}

.avatar {
    width: 60%;
    padding: 2%;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-cell {
    width: 50%;
    margin-top: 5%;
    border: 1px solid black;
}

.btn.btn-primary.btn-delete {
    border-color: #CD80E3;
    background-color: #CD80E3;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
    margin-top: 2%;
}

.btn.btn-primary.btn-delete:hover {
    border-color: red;
    background-color: red;
}

@media screen and (max-width: 860px) {
    nav h4 {
        font-size: 1.4rem;
        margin-top: 8px;
    }

    nav {
        padding: 20px 30px;
    }

    nav ul {
        margin-top: 10px;
    }

    nav li a {
        font-size: 0.9rem;
    }

    .uploaded-image {
        display: block;
        width: 80%;
        margin: auto;
    }

    .uploaded-image:hover {
        width: 100%;
        height: 100%;
    }

    .image-cell {
        width: 75%;
    }

    .col-4 {
        width: 80%;
        margin: auto;
        margin-bottom: 5%;
    }

    .col-8 {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    nav h4 {
        font-size: 1rem;
        margin-top: 13px;
    }
    
    nav ul {
        margin-right: -10px;
    }

    nav li a {
        font-size: 0.8rem;
    }

    .uploaded-image {
        display: block;
        width: 95%;
        margin: auto;
    }
}