extends layout
block content
  div(class='container mt-4')
    div(class='card')
      div(class='card-header') Register Form 
      div(class='card-body')
          if registerSuccess
            form(action='/login', method='GET')
                p
                    =message
                button(type='submit', class='btn btn-primary') Log in here
          else
            p ▪️ Email verification is <i><u>not</u></i> needed.
            form(action='/auth/register', method='POST')
                div(class='form-group') 
                    label(for='name') Name 
                    input(type='text', class='form-control', id='name', name='name')
                br
                div(class='form-group') 
                    label(for='email') Email 
                    input(type='text', class='form-control', id='email', name='email')
                br
                div(class='form-group') 
                    label(for='password') Password 
                    input(type='password', class='form-control', id='password', name='password')
                br
                div(class='form-group') 
                    label(for='passwordConfirm') Confirm Password 
                    input(type='password', class='form-control', id='passwordConfirm', name='passwordConfirm')
                br
                button(type='submit', class='btn btn-primary') Register User
                input(type='hidden' name='_csrf' value=csrfToken)
                p(class='form-error-message')
                    =message   